In [1]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('IMDB Dataset.csv')
df.shape

(50000, 2)

In [3]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

df['sentiment'] = label_encoder.fit_transform(df['sentiment'])

df.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [5]:
from sklearn.model_selection import train_test_split

X = df['review']
Y = df['sentiment']

# Step 1: Split 80% train, 20% temp (test)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=42, stratify=df['sentiment'])

print(X_train)

47808    I caught this little gem totally by accident b...
20154    I can't believe that I let myself into this mo...
43069    *spoiler alert!* it just gets to me the nerve ...
19413    If there's one thing I've learnt from watching...
13673    I remember when this was in theaters, reviews ...
                               ...
31092    It's the 1920s. And a man named Walt Disney wa...
22917    The first (and only) time I saw "Shades" was d...
47481    This was such a waste of time. Danger: If you ...
35597    this is by far the most pathetic movie Indian ...
27491    This movie forever left an impression on me. I...
Name: review, Length: 40000, dtype: object